* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.ant-typography {
  margin: 0 !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.ant-typography,
.ant-btn,
.ant-select-selection-placeholder,
.ant-select-item-option-content,
.ant-select-selection-item,
::placeholder {
  font-family: var(--font-prompt), sans-serif;
}

.slick-slide.slick-current img.thumb {
  border: 2px solid #ff3130;
  background-color: #ff3130;
}